.container, .container-lg, .container-md, .container-sm, .container-xl {
  text-align: center;
  max-width: 50%;
}

.form-control-plaintext {
  text-align: center;
  font-weight: 500;
}

.form-control {
  margin: 20px;
}

.btn:not(:disabled):not(.disabled) {
  margin: 20px;
}
